.action {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

.action:hover{
    color:  hsl(176, 68%, 64%);
}


.action-second {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    color:  hsl(176, 68%, 64%);
    text-decoration: none;
    border-bottom: 2px solid hsl(176, 68%, 64%);
    
}

.action-second:hover{
    color:  hsl(176, 68%, 64%);
}


.action-third:hover{
    color:  hsl(176, 68%, 64%);
}