.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: hsl(217, 28%, 15%);
    padding-top: 30px;
}

.logo {
    align-items: center;
    margin: 20px 50px;
}

.main-navigation {
    margin-right: 60px;
}