.main-paragraph-first {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin-bottom: 60px;
}

.main-paragraph-second {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin-top: 20px;
}

.main-paragraph-third {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

.main-paragraph-fourth {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-bottom: 30px;
}