.main-button {
    background: linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    font-family: 'Raleway' ,sans-serif;
    font-size: 18px;
    color: white;
    padding: 20px 100px;
    text-decoration: none;
    border-radius: 50px;
}

.main-button.-margin {
    margin-bottom: 50px;
}


.main-button-second {
    background: linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    font-family: 'Raleway' ,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
}

